body{
    margin: 0;padding: 0;
    overflow-x: hidden;
    background-color: #fff;
}

input{
    border: none;
}

img {
    border: 0;
    vertical-align: middle;
    -webkit-touch-callout: none;
}

button{
    border:none;
    background: none;
    padding: 0;
}

input[type=radio]{
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

a{
    text-decoration:none;
    color: #000;
}

p{
    margin: 0;
}

ul,ol {
    margin:0;padding-left: 0;
    list-style: none;
}

em{
    font-style: normal;
}
.container{
    margin: 0 auto;
    width: 80%;
    font-size: 18px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.clear{
    clear: both;
}

.clearfix{
    clear: both;
    width:0;
    height: 0;
    overflow:hidden;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.icon{
    display: inline-block;
}

#header {
    height: 90px;
    line-height: 90px;
    font-size: 32px;
    text-align: center;
    background-color: #fff;
    position: relative;
    a {
        position: absolute;
        width: 19px;height: 25px;
        line-height: 25px;
        left: 35px;
        top: 25px;
        margin-left: 20px;
        img {
            width: 100%;
        }
    }
}

.mask{
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .content{
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        width: 600px;height: 365px;
        top: calc(50% - 182px);
        left: calc(50% - 300px);
    }
}