body{
    background-color: #eee;
}
.gray{
    background-color: #eee!important;
}
#header{
    margin-bottom: 60px;
}
.container{
    width: 690px;
}
.foods,.orderinfo{
    border-radius: 30px;
    background-color: #fff;
}

.foods{
    padding: 60px 35px 20px 35px;
    box-sizing: border-box;
    margin: 0 auto 38px auto;
}

.orderinfo{
    padding: 35px 40px 60px 60px;
}

.foods{
    li{
        display: flex;
        justify-content: space-between;
        margin-bottom: 53px;
        .name{
            font-size: 32px;
        }
        .des{
            color:#e99a9b;
            font-size: 20px;
        }
        del{
            color: #666;
            font-size: 18px;
        }
        .num{
            font-size: 22px;
            em{
                font-size: 28px;
            }
        }
        .img{
            width: 145px;
        }
        .text{
            width: 420px;
        }
        img{
            width: 100%;
        }
    }
}

.orderinfo{
    h3{
        font-size: 34px;
        margin-bottom: 35px;
    }
    .content li{
        display: flex;
        font-size: 30px;
        justify-content: space-between;
        margin: 15px 0;
        color:#8e8e8e;
    }
}

.moneybox{
    border-radius: 50px;
    overflow: hidden;
    width: 100%;
    height: 100px;
    margin: 30px auto 0 auto;
    background-color: #fff;
    &>div{
        float: left;
    }
    .text{
        width: 70%;
        padding-left: 70px;
        box-sizing: border-box;
        height: 100px;
        line-height: 100px;
        background-color: #faf9f9;
    }
    .money{
        width: 30%;
        background-color: #fac824;
        text-align: center;
        height: 100px;
        line-height: 100px;
        font-size: 34px;
    }
}