@import './_sprites/icons.scss';

.nav {
    text-align: center;
    margin-bottom: 140px;

    .icon {
        margin-right: 30px;
    }

    a {
        width: 300px;
        height: 100px;
        background-color: #fac824;
        border-radius: 30px;
        line-height: 100px;
    }
}

.menu {
    @include sprite($s-menu);
}

.leave {
    @include sprite($s-leave);
}

.banner {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.admin {
    width: .5rem;
    height: .5rem;
    position: absolute;
    right: .3rem;
    top: -1.2rem;

    img {
        width: 100%;
    }
}