.container{
    width: 635px;
}
.mybox{
    overflow: hidden;
    margin-bottom: 60px;
    padding-top: 20px;
}
.mybox>div{
    float: left;
}
.avatar{
    width: 90px;
    height: 90px;
    margin-right: 40px;
}
.nickname{
    font-size: 36px;
    margin-bottom: 10px;
}
.tel{
    font-size: 20px;
    color: rgb(182, 180, 180);
}

img{
    max-width: 100%;
}

ul{
    margin-top: 150px;
    li{
        display: flex;
        justify-content: space-between;
        font-size: 28px;
        line-height: 40px;
        padding: 20px 0;
        img{
            width: 15px;
        }
        i{
            display: inline-block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-size: 30px 30px;
            margin-left: 20px;
            vertical-align: middle;
        }
    }
}
.balance{
    margin-right: 10px;
    background-image: url($imgUrl+'icon1.png');
}

.icon2{
    margin-right: 10px;
    background-image: url($imgUrl+'icon2.png');
}

.icon3{
    margin-right: 10px;
    background-image: url($imgUrl+'icon3.png');
}

.icon4{
    margin-right: 10px;
    background-image: url($imgUrl+'icon4.png');
}

.money{
    color: #f8c723;
    font-size: 26px;
    em{
        font-size: 36px;
    }
}

.phone{
    font-size: 32px;
}

.first{
    margin-bottom: 20px;
}