@import './_sprites/icons.scss';
.icon{
    margin-right: 20px;
    margin-left: 4px;
    vertical-align: middle;
}
.order{
    @include sprite($s-menu);
}

.next{
    @include sprite($s-next);
    margin-left: 20px;
}

.money{
    color: #fac824;
}

p{
    margin-top: 20px;
}

li{
    padding: 50px 0;
    font-size: 30px;
    border-bottom: 1px solid #f3f0e0;/*no*/
}