@import './_sprites/icons.scss';
body{
    background-color: #eee;
}

.container{
    width: 635px;
}

.icon{
    margin-right: 20px;
}
.order{
    @include sprite($s-order);
}

.date{
    @include sprite($s-date);
}

ul{
    overflow: hidden;
    li{
        margin-top: 40px;
        background-color: #fff;
        border-radius: 30px;
        padding: 32px 55px;
    }
    .flex{
        font-size: 30px;
        color: #fdc923;
    }
    p{
        margin: 20px 0;
        font-size: 30px;
        line-height: 50px;
    }
    .card{
        font-size: 40px;
        font-weight: bold;
    }
    em{
        font-size: 40px;
    }
}

