.container{
    width: 635px;
}

h3{
    margin-bottom: 55px;
    font-size: 34px;
    letter-spacing: 2px;/*no*/
}

li{
    margin-bottom: 70px;
    .money{
        font-size: 24px;
        color: #fac824;
        em{
            font-size: 34px;
        }
        del{
            text-decoration:none;
            display: inline-block;
            position: relative;
            color: #858585;
            margin-left: 10px;
            font-size: 20px;
            em{
                font-size: 30px;
            }
            &:after{
                content: '';
                width: 100%;height: 1px;
                background-color: #858585;
                position: absolute;
                top: 50%;left: 0;
            }
        }
    }
}

.right{
    align-items:center;
    .img{
        width: 19px;
        height: 40px;
        margin-left: 40px;
    }
    img{
        width: 100%;
    }
}

.title{
    font-size: 32px;
}

.des{
    color: #858585;
    font-size: 28px;
    margin: 10px 0;
}

img{
    width: 350px;
}



.mask{
    display: none;
    font-size: 30px;
    line-height: 50px;
    .content{
        text-align: center;
        position: absolute;
        width: 645px;
        height: 450px;
        padding-bottom: 55px;
        border-radius: 10px;
        left: calc(50% - 322px);top:calc(50% - 225px);
        .close{
            position: absolute;
            left: 35px;
            top: 40px;
            width: 30px;
            padding: 10px;
        }
        h3{
            font-size: 34px;
            margin-bottom: 0;
        }
        em{
            font-size: 42px;
        }
        .money{
            font-size: 24px;
            margin: 10px auto;
        }
    }
}
.typelist{
    margin-top: 20px;
}
.wechat{
    display: block;
    text-align: center;
    width: 80%;
    font-size: 30px;
    margin: 0 auto 22px auto;
    padding: 20px 0;
    border-bottom: 1px solid #f3f0e0;/*no*/
    border-top: 1px solid #f3f0e0;/*no*/
    letter-spacing: 2px;/*no*/
    &:before{
        content: '';
        width: 40px;
        height: 40px;
        background:url($imgUrl+'wechat.png') no-repeat;
        background-size: 40px 40px;
        display: inline-block;
        margin-right: 100px;
        vertical-align: middle;
    }

    &:after{
        content:'';
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
        border:1px solid #fac824;/*no*/
        margin-left: 100px;
        vertical-align: middle;
    }
    &.active:after{
        background:url($imgUrl+'success.png') no-repeat;
        background-size: 40px 40px;
    }
}

#submit{
    width: 520px;
    height: 75px;
    font-size: 34px;
    letter-spacing: 2px;/*no*/
    margin: 50px auto;
    border-radius: 10px;
    background-color: #fac824;
}