body {
  background-color: #eee
}
.container {
  width: 6.9rem
}
.date,
.order {
  margin-right: .24rem;
  background-image: url(../imgs/icons.png);
  background-size: 2.15rem 1.49rem;
  width: .34rem
}
.order {
  background-position: 0 -1.14rem;
  height: .35rem;
  vertical-align: baseline
}
.date {
  background-position: -.39rem -1.14rem;
  height: .34rem
}
.card {
  color: #fdc923;
  font-size: .4rem;
  font-weight: 700
}
.flex {
  font-size: .32rem
}
p {
  margin: .2rem 0;
  font-size: .3rem;
  line-height: .6rem
}
ul {
  overflow: hidden;
  margin-top: .2rem
}
ul .flex {
  line-height: .5rem;
  height: .5rem;
  font-size: .5rem
}
li {
  margin-top: .4rem;
  background-color: #fff;
  border-radius: .5rem;
  padding: .33rem .55rem
}
li:first-child {
  margin-top: 0
}