//单图片参数

$s-back-name: 'back';
$s-back-x: -55px;
$s-back-y: 0px;
$s-back-width: 50px;
$s-back-height: 50px;
$s-back: (-55px, 0px, 50px, 50px,215px,
149px,
'icons.png', 'icons_back');
$s-close-name: 'close';
$s-close-x: -110px;
$s-close-y: 0px;
$s-close-width: 50px;
$s-close-height: 50px;
$s-close: (-110px, 0px, 50px, 50px,215px,
149px,
'icons.png', 'icons_close');
$s-date-name: 'date';
$s-date-x: -39px;
$s-date-y: -114px;
$s-date-width: 34px;
$s-date-height: 34px;
$s-date: (-39px, -114px, 34px, 34px,215px,
149px,
'icons.png', 'icons_date');
$s-icon1-name: 'icon1';
$s-icon1-x: 0px;
$s-icon1-y: -59px;
$s-icon1-width: 50px;
$s-icon1-height: 50px;
$s-icon1: (0px, -59px, 50px, 50px,215px,
149px,
'icons.png', 'icons_icon1');
$s-leave-name: 'leave';
$s-leave-x: -55px;
$s-leave-y: -59px;
$s-leave-width: 50px;
$s-leave-height: 50px;
$s-leave: (-55px, -59px, 50px, 50px,215px,
149px,
'icons.png', 'icons_leave');
$s-menu-name: 'menu';
$s-menu-x: -78px;
$s-menu-y: -114px;
$s-menu-width: 30px;
$s-menu-height: 32px;
$s-menu: (-78px, -114px, 30px, 32px,215px,
149px,
'icons.png', 'icons_menu');
$s-next-name: 'next';
$s-next-x: -113px;
$s-next-y: -114px;
$s-next-width: 16px;
$s-next-height: 30px;
$s-next: (-113px, -114px, 16px, 30px,215px,
149px,
'icons.png', 'icons_next');
$s-order-name: 'order';
$s-order-x: 0px;
$s-order-y: -114px;
$s-order-width: 34px;
$s-order-height: 35px;
$s-order: (0px, -114px, 34px, 35px,215px,
149px,
'icons.png', 'icons_order');
$s-success-name: 'success';
$s-success-x: -110px;
$s-success-y: -59px;
$s-success-width: 50px;
$s-success-height: 50px;
$s-success: (-110px, -59px, 50px, 50px,215px,
149px,
'icons.png', 'icons_success');
$s-wechat-name: 'wechat';
$s-wechat-x: -165px;
$s-wechat-y: 0px;
$s-wechat-width: 50px;
$s-wechat-height: 50px;
$s-wechat: (-165px, 0px, 50px, 50px,215px,
149px,
'icons.png', 'icons_wechat');
$s-yue-name: 'yue';
$s-yue-x: 0px;
$s-yue-y: 0px;
$s-yue-width: 50px;
$s-yue-height: 54px;
$s-yue: (0px, 0px, 50px, 54px,215px,
149px,
'icons.png', 'icons_yue');
$s--name: '√';
$s--x: -165px;
$s--y: -55px;
$s--width: 50px;
$s--height: 50px;
$s--: (-165px, -55px, 50px, 50px,215px,
149px,
'icons.png', 'icons_√');

$s-spritesheet-width: 215px;
$s-spritesheet-height: 149px;
$s-spritesheet-image: 'icons.png';
$s-spritesheet-sprites: ($s-back, $s-close, $s-date, $s-icon1, $s-leave, $s-menu, $s-next, $s-order, $s-success, $s-wechat, $s-yue, $s--, );
$s-spritesheet: (215px,
149px,'icons.png' );

@mixin sprite-width($sprite){
width: nth($sprite, 3);
}

@mixin sprite-height($sprite){
height: nth($sprite, 4);
}

@mixin sprite-position($sprite){
$sprite-x: nth($sprite, 1);
$sprite-y: nth($sprite, 2);
background-position: $sprite-x $sprite-y;
}

@mixin sprite-image($sprite){
$sprite-image: nth($sprite, 7);
background-image: url($imgUrl+$sprite-image);
}

@mixin sprite-size($sprite){
$sprite-total-width: nth($sprite, 5);
$sprite-total-height: nth($sprite, 6);
background-size:$sprite-total-width $sprite-total-height;
}

@mixin sprite($sprite){
@include sprite-image($sprite);
@include sprite-size($sprite);
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}

@mixin sprite-nosize($sprite){
@include sprite-image($sprite);
@include sprite-size($sprite);
@include sprite-position($sprite);
}

//生成css类名,不推荐使用
//传入的变量应为$spritesheet-sprites
@mixin spritesheet($sprites){
@each $sprite in $sprites{
$sprite-name: nth($sprite, 8);
}
.#{$sprite-name}{
@include sprite($sprite)
}
}
