//单图片参数

$s--name: '_剪切组_';
$s--x: -220px;
$s--y: -55px;
$s--width: 50px;
$s--height: 50px;
$s--: (-220px, -55px, 50px, 50px,270px,
218px,
'icons.png', 'icons__剪切组_');
$s--8-name: '_编组_-8';
$s--8-x: -220px;
$s--8-y: -110px;
$s--8-width: 50px;
$s--8-height: 50px;
$s--8: (-220px, -110px, 50px, 50px,270px,
218px,
'icons.png', 'icons__编组_-8');
$s-back-name: 'back';
$s-back-x: -55px;
$s-back-y: 0px;
$s-back-width: 50px;
$s-back-height: 50px;
$s-back: (-55px, 0px, 50px, 50px,270px,
218px,
'icons.png', 'icons_back');
$s-close-name: 'close';
$s-close-x: 0px;
$s-close-y: -113px;
$s-close-width: 50px;
$s-close-height: 50px;
$s-close: (0px, -113px, 50px, 50px,270px,
218px,
'icons.png', 'icons_close');
$s-date-name: 'date';
$s-date-x: -110px;
$s-date-y: 0px;
$s-date-width: 50px;
$s-date-height: 50px;
$s-date: (-110px, 0px, 50px, 50px,270px,
218px,
'icons.png', 'icons_date');
$s-icon1-name: 'icon1';
$s-icon1-x: 0px;
$s-icon1-y: -58px;
$s-icon1-width: 50px;
$s-icon1-height: 50px;
$s-icon1: (0px, -58px, 50px, 50px,270px,
218px,
'icons.png', 'icons_icon1');
$s-icon2-name: 'icon2';
$s-icon2-x: -55px;
$s-icon2-y: -58px;
$s-icon2-width: 50px;
$s-icon2-height: 50px;
$s-icon2: (-55px, -58px, 50px, 50px,270px,
218px,
'icons.png', 'icons_icon2');
$s-icon3-name: 'icon3';
$s-icon3-x: -110px;
$s-icon3-y: -58px;
$s-icon3-width: 50px;
$s-icon3-height: 50px;
$s-icon3: (-110px, -58px, 50px, 50px,270px,
218px,
'icons.png', 'icons_icon3');
$s-icon5-name: 'icon5';
$s-icon5-x: -165px;
$s-icon5-y: 0px;
$s-icon5-width: 50px;
$s-icon5-height: 50px;
$s-icon5: (-165px, 0px, 50px, 50px,270px,
218px,
'icons.png', 'icons_icon5');
$s-leave-name: 'leave';
$s-leave-x: -165px;
$s-leave-y: -55px;
$s-leave-width: 50px;
$s-leave-height: 50px;
$s-leave: (-165px, -55px, 50px, 50px,270px,
218px,
'icons.png', 'icons_leave');
$s-menu-name: 'menu';
$s-menu-x: 0px;
$s-menu-y: 0px;
$s-menu-width: 50px;
$s-menu-height: 53px;
$s-menu: (0px, 0px, 50px, 53px,270px,
218px,
'icons.png', 'icons_menu');
$s-next-name: 'next';
$s-next-x: -55px;
$s-next-y: -113px;
$s-next-width: 50px;
$s-next-height: 50px;
$s-next: (-55px, -113px, 50px, 50px,270px,
218px,
'icons.png', 'icons_next');
$s-order-name: 'order';
$s-order-x: -110px;
$s-order-y: -113px;
$s-order-width: 50px;
$s-order-height: 50px;
$s-order: (-110px, -113px, 50px, 50px,270px,
218px,
'icons.png', 'icons_order');
$s-success-name: 'success';
$s-success-x: -165px;
$s-success-y: -113px;
$s-success-width: 50px;
$s-success-height: 50px;
$s-success: (-165px, -113px, 50px, 50px,270px,
218px,
'icons.png', 'icons_success');
$s-wechat-name: 'wechat';
$s-wechat-x: -220px;
$s-wechat-y: 0px;
$s-wechat-width: 50px;
$s-wechat-height: 50px;
$s-wechat: (-220px, 0px, 50px, 50px,270px,
218px,
'icons.png', 'icons_wechat');
$s--name: '√';
$s--x: 0px;
$s--y: -168px;
$s--width: 50px;
$s--height: 50px;
$s--: (0px, -168px, 50px, 50px,270px,
218px,
'icons.png', 'icons_√');

$s-spritesheet-width: 270px;
$s-spritesheet-height: 218px;
$s-spritesheet-image: 'icons.png';
$s-spritesheet-sprites: ($s--, $s--8, $s-back, $s-close, $s-date, $s-icon1, $s-icon2, $s-icon3, $s-icon5, $s-leave, $s-menu, $s-next, $s-order, $s-success, $s-wechat, $s--, );
$s-spritesheet: (270px,
218px,'icons.png' );

@mixin sprite-width($sprite){
width: nth($sprite, 3);
}

@mixin sprite-height($sprite){
height: nth($sprite, 4);
}

@mixin sprite-position($sprite){
$sprite-x: nth($sprite, 1);
$sprite-y: nth($sprite, 2);
background-position: $sprite-x $sprite-y;
}

@mixin sprite-image($sprite){
$sprite-image: nth($sprite, 7);
background-image: url($imgUrl+$sprite-image);
}

@mixin sprite-size($sprite){
$sprite-total-width: nth($sprite, 5);
$sprite-total-height: nth($sprite, 6);
background-size:$sprite-total-width $sprite-total-height;
}

@mixin sprite($sprite){
@include sprite-image($sprite);
@include sprite-size($sprite);
@include sprite-position($sprite);
@include sprite-width($sprite);
@include sprite-height($sprite);
}

@mixin sprite-nosize($sprite){
@include sprite-image($sprite);
@include sprite-size($sprite);
@include sprite-position($sprite);
}

//生成css类名,不推荐使用
//传入的变量应为$spritesheet-sprites
@mixin spritesheet($sprites){
@each $sprite in $sprites{
$sprite-name: nth($sprite, 8);
}
.#{$sprite-name}{
@include sprite($sprite)
}
}
