extends _share/container.pug
block config
    - var title = "";
    - var keyword = "掼娱掼蛋,掼蛋,手机掼蛋,掼蛋官网";
    - var description = "掼娱掼蛋,给你不一样的棋牌体验!";
block head
    link(rel='stylesheet',href=cssUrl+'menu.css')
block html
    #header.container
        a(href="#")
            img(src=imgUrl+"back.png", alt="")
        |我的菜单
    .container
        .shop
            h1 川菜馆
            .brand.flex
                span 今日本店预售
                img(src=imgUrl+"next.png", alt="")
        form
            ul.foods
                li
                    .img
                        img(src=imgUrl+"food1.jpg", alt="")
                    .text
                        .flex
                            .name 红烧肉
                            .num x1
                        p.des 酱香味，微甜
                        p.money ￥13
                        del ￥20
                    button 已取菜
            .paytype
                label.wechat.active(for="wechat") 微信支付
                    input#wechat(type="radio" value="wechat" checked)
                label.wechat(for="wechat") 微信支付
                    input#wechat(type="radio" value="wechat")
            .moneybox
                .text
                    div ￥#[em 13]
                    .des 消费结束后会根据取菜信息自动扣款
                input.money(type="submit" value="结算")
block js