extends _share/container.pug
block config
    - var title = "国际农夫充值记录";
    - var keyword = "国际农夫，国际农夫充值记录";
    - var description = "国际农夫充值记录";
block head
    link(rel='stylesheet',href=cssUrl+'payhistory.css')
block html
    #header
        a(href="#")
            img(src=imgUrl+"back.png", alt="")
        |充值记录
    .container
        ul
            li
                p
                    i.icon.order
                    |XF0001003
                .flex
                    .card 小试牛刀卡
                    div ￥#[em 20]
                p
                    i.icon.date
                    |2020-05-22  09:30
            li
                p
                    i.icon.order
                    |XF0001003
                .flex
                    .card 深入了解卡
                    div ￥#[em 100]
                p
                    i.icon.date
                    |2020-05-22  09:30
block js