extends _share/container.pug
block config
    - var title = "";
    - var keyword = "掼娱掼蛋,掼蛋,手机掼蛋,掼蛋官网";
    - var description = "掼娱掼蛋,给你不一样的棋牌体验!";
block head
    link(rel='stylesheet',href=cssUrl+'payhistory.css')
block html
    #header
        .container
            a(href="#")
                img(src=imgUrl+"back.png", alt="")
            |充值记录
    .container
        ul
            li
                p
                    i.icon.order
                    |XF0001003
                .flex
                    .card 小试牛刀卡
                    div ￥20
                p
                    i.icon.date
                    |2020-05-22  09:30
block js