.foods li,
.orderinfo .content li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox
}
body {
  background-color: #eee
}
.gray {
  background-color: #eee!important
}
#header {
  margin-bottom: .6rem
}
.container {
  width: 6.9rem
}
.foods li img,
.moneybox {
  width: 100%
}
.foods,
.orderinfo {
  border-radius: .1rem;
  background-color: #fff
}
.foods {
  padding: .6rem .35rem .2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto .38rem
}
.orderinfo {
  padding: .35rem .4rem .6rem .6rem
}
.foods li {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: .53rem
}
.foods li .name {
  font-size: .32rem
}
.foods li .des {
  color: #e99a9b;
  font-size: .2rem
}
.foods li del {
  color: #666;
  font-size: .18rem
}
.foods li .num {
  font-size: .22rem
}
.foods li .num em {
  font-size: .28rem
}
.foods li .img {
  width: 1.45rem
}
.foods li .text {
  width: 4.2rem
}
.orderinfo h3 {
  font-size: .3rem;
  margin-bottom: .35rem
}
.orderinfo .content li {
  display: flex;
  font-size: .3rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: .15rem 0
}
.moneybox {
  border-radius: .5rem;
  overflow: hidden;
  height: 1rem;
  margin: .3rem auto 0;
  background-color: #fff
}
.moneybox > div {
  float: left
}
.moneybox .text {
  width: 70%;
  padding-left: .7rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 1rem;
  line-height: 1rem
}
.moneybox .money {
  width: 30%;
  background-color: orange;
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  font-size: .34rem
}