.foods li,
.orderinfo .content li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox
}
body {
  background-color: #eee
}
.gray {
  background-color: #eee!important
}
#header {
  margin-bottom: 60px
}
.container {
  width: 690px
}
.foods li img,
.moneybox {
  width: 100%
}
.foods,
.orderinfo {
  border-radius: 30px;
  background-color: #fff
}
.foods {
  padding: 60px 35px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 38px
}
.orderinfo {
  padding: 35px 40px 60px 60px
}
.foods li {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 53px
}
.foods li .name {
  font-size: 32px
}
.foods li .des {
  color: #e99a9b;
  font-size: 20px
}
.foods li del {
  color: #666;
  font-size: 18px
}
.foods li .num {
  font-size: 22px
}
.foods li .num em {
  font-size: 28px
}
.foods li .img {
  width: 145px
}
.foods li .text {
  width: 420px
}
.orderinfo h3 {
  font-size: 34px;
  margin-bottom: 35px
}
.orderinfo .content li {
  display: flex;
  font-size: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 15px 0;
  color: #8e8e8e
}
.moneybox {
  border-radius: 50px;
  overflow: hidden;
  height: 100px;
  margin: 30px auto 0;
  background-color: #fff
}
.moneybox > div {
  float: left
}
.moneybox .text {
  width: 70%;
  padding-left: 70px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100px;
  line-height: 100px;
  background-color: #faf9f9
}
.moneybox .money {
  width: 30%;
  background-color: #fac824;
  text-align: center;
  height: 100px;
  line-height: 100px;
  font-size: 34px
}