.leave,
.menu {
  background-image: url(../imgs/icons.png);
  background-size: 215px 149px
}
.banner,
.logo {
  display: block
}
.container {
  width: 690px;
  position: relative
}
.logo {
  margin: 200px auto 120px;
  width: 322px
}
.nav {
  text-align: center;
  margin-bottom: 140px
}
.nav .icon {
  margin-right: 30px;
  vertical-align: middle
}
.nav a {
  width: 300px;
  height: 100px;
  background-color: #fac824;
  border-radius: 30px;
  font-size: 30px;
  line-height: 100px
}
.menu {
  background-position: -78px -114px;
  width: 30px;
  height: 32px
}
.leave {
  background-position: -55px -59px;
  width: 50px;
  height: 50px
}
.admin img,
.banner {
  width: 100%
}
.banner {
  border-radius: 10px;
  margin-bottom: 20px
}
.admin {
  width: .5rem;
  height: .5rem;
  position: absolute;
  right: .3rem;
  top: -1.2rem
}