.banner,
.logo {
  display: block
}
.logo {
  margin: 2rem auto;
  width: 4rem
}
.leave,
.menu {
  background-image: url(../imgs/icons.png);
  background-size: 2.15rem 2.15rem;
  width: .5rem;
  height: .5rem
}
.nav a {
  width: 2.5rem;
  height: 1rem;
  background-color: orange;
  border-radius: .3rem;
  font-size: .3rem;
  line-height: 1rem
}
.menu {
  background-position: 0 0
}
.leave {
  background-position: -.55rem -1.1rem
}
.banner {
  width: 100%;
  border-radius: .1rem;
  margin-top: .2rem
}