.next {
  background-image: url(../imgs/icons.png);
  background-size: 2.15rem 1.49rem;
  background-position: -1.13rem -1.14rem;
  width: .16rem;
  height: .3rem
}
.container {
  width: 6.35rem
}
.mybox {
  overflow: hidden;
  margin: .2rem auto
}
.mybox > div {
  float: left
}
.avatar {
  width: .9rem;
  height: .9rem;
  margin-right: .4rem
}
.nickname {
  font-size: .34rem;
  margin: .06rem 0 .1rem
}
.tel,
ul li {
  font-size: .28rem
}
.tel {
  color: #b6b4b4
}
img {
  max-width: 100%
}
ul {
  margin-top: 1.5rem
}
ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: .4rem;
  padding: .2rem 0;
  letter-spacing: 1px;
  border-bottom: 1px solid #eee
}
ul li i {
  display: inline-block;
  width: .3rem;
  height: .3rem;
  background-repeat: no-repeat;
  background-size: .3rem .3rem;
  margin-left: .2rem;
  vertical-align: middle
}
.icon {
  margin-right: .1rem
}
.icon1 {
  background-image: url(../imgs/icon1.png)
}
.icon2 {
  background-image: url(../imgs/icon2.png)
}
.icon3 {
  background-image: url(../imgs/icon3.png)
}
.icon4 {
  background-image: url(../imgs/icon4.png)
}
.money {
  color: #f8c723;
  font-size: .26rem
}
.money em {
  font-size: .36rem
}
.phone {
  font-size: .32rem
}
.first {
  margin-bottom: .2rem
}