.nickname,
ul li {
  font-size: .28rem
}
.container {
  width: 6.35rem
}
.mybox {
  overflow: hidden;
  margin-bottom: .6rem
}
.mybox > div {
  float: left
}
.avatar {
  width: .9rem;
  height: .9rem;
  margin-right: .4rem
}
.nickname {
  margin-bottom: .1rem
}
.tel {
  font-size: .2rem;
  color: #eee
}
img {
  max-width: 100%
}
ul {
  margin-top: 1.5rem
}
ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: .4rem;
  padding: .2rem 0
}
ul li img {
  width: .1rem
}
ul li i {
  display: inline-block;
  width: .3rem;
  height: .3rem;
  background-repeat: no-repeat;
  background-size: .3rem .3rem;
  margin-left: .2rem;
  vertical-align: middle
}
.balance {
  background-image: url(../imgs/icon1.png)
}
.money {
  color: orange;
  font-size: .26rem
}
.money em,
.phone {
  font-size: .32rem
}