.next,
.order {
  background-image: url(../imgs/icons.png);
  background-size: 2.15rem 1.49rem
}
.icon {
  margin-right: .2rem;
  margin-left: .04rem;
  vertical-align: middle
}
.order {
  background-position: -.78rem -1.14rem;
  width: .3rem;
  height: .32rem
}
.next {
  background-position: -1.13rem -1.14rem;
  width: .16rem;
  height: .3rem;
  margin-left: .2rem
}
.money {
  color: #fac824
}
p {
  margin-top: .2rem
}
li {
  padding: .5rem 0;
  font-size: .3rem;
  border-bottom: 1px solid #f3f0e0
}