body {
  background-color: #eee
}
.container {
  width: 690px
}
.date,
.order {
  margin-right: 24px;
  background-image: url(../imgs/icons.png);
  background-size: 215px 149px;
  width: 34px
}
.order {
  background-position: 0 -114px;
  height: 35px;
  vertical-align: baseline
}
.date {
  background-position: -39px -114px;
  height: 34px
}
.card {
  color: #fdc923;
  font-size: 40px;
  font-weight: 700
}
.flex {
  font-size: 32px
}
p {
  margin: 20px 0;
  font-size: 30px;
  line-height: 60px
}
ul {
  overflow: hidden;
  margin-top: 20px
}
ul .flex {
  line-height: 50px;
  height: 50px;
  font-size: 50px
}
li {
  margin-top: 40px;
  background-color: #fff;
  border-radius: 50px;
  padding: 33px 55px
}
li:first-child {
  margin-top: 0
}