li,
ul {
  margin-top: .2rem
}
body {
  background-color: #eee
}
.container {
  width: 6.9rem
}
.date,
.order {
  margin-right: .24rem;
  background-image: url(../imgs/icons.png);
  background-size: 2.15rem 2.15rem;
  width: .5rem;
  height: .5rem
}
.order {
  background-position: -1.65rem -.55rem
}
.date {
  background-position: 0 -.55rem
}
.card {
  color: orange;
  font-size: .36rem
}
.flex {
  margin: .33rem auto .4rem;
  font-size: .32rem
}
p {
  margin: .2rem 0;
  font-size: .2rem;
  line-height: .6rem;
  height: .6rem
}
ul {
  overflow: hidden
}
ul .flex {
  line-height: .5rem;
  height: .5rem;
  font-size: .5rem
}
li {
  background-color: #fff;
  border-radius: .2rem;
  padding: .33rem .55rem
}
li:first-child {
  margin-top: 0
}
img {
  vertical-align: top
}