ul .flex,
ul p {
  font-size: .3rem
}
body {
  background-color: #eee
}
.container {
  width: 6.35rem
}
.date,
.order {
  background-image: url(../imgs/icons.png);
  background-size: 2.15rem 1.49rem;
  width: .34rem
}
.icon {
  margin-right: .2rem
}
.order {
  background-position: 0 -1.14rem;
  height: .35rem
}
.date {
  background-position: -.39rem -1.14rem;
  height: .34rem
}
ul {
  overflow: hidden
}
ul li {
  margin-top: .4rem;
  background-color: #fff;
  border-radius: .3rem;
  padding: .32rem .55rem
}
ul .flex {
  color: #fdc923
}
ul p {
  margin: .2rem 0;
  line-height: .5rem
}
ul .card,
ul em {
  font-size: .4rem
}
ul .card {
  font-weight: 700
}